# Ignore database directory with large nii files
database-mml
database-dgmld
database-nvj
nnLandmark

# Just to be sure: no .nii files
*.nii
*.nii.gz


# Also ignore python cache 
.vscode/
__pycache__

